*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Outfit", sans-serif;
    background: hsl(217, 54%, 11%);
    color: #fff;
}
.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 375px;
        height: 667px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
